.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 36px;

  &__element {

  }

  &__link {
    text-decoration: none;
    color: @text-main-color;
  }
}